:host {
    vertical-align: top;
}

:host([size="L"]) button {
    font-size: 32px;
    width: 64px;
    height: 64px;
}

.item {
    width: 30px;
    height: 30px;
    display: block;
}

.hidden {
    visibility: hidden;
}
