.large-symbol {
    margin-bottom: 24px;
}

.hidden {
    opacity: 0;
}

.row {
    display: flex;
}

.cell {
    display: flex;
    padding: 3px;
}

.pop-out {
    animation: pop-out 2s ease-out;
}

@keyframes pop-out {
    0% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}
