:host {
    display: block;
    width: 400px;
    position: relative;
    font-family: system-ui;
}

.hidden {
    opacity: 0;
}

.question {
    display: flex;
    align-items: center;
    margin-bottom: 24px;
}

.answer {
    margin-left: 20px;
}

.layout {
    display: flex;
    flex-direction: row-reverse;
    justify-content: flex-end;
}

.row {
    display: flex;
    flex-direction: column;
}

.cell {
    display: flex;
    padding: 3px;
}

.pop-out {
    animation: pop-out 2s ease-out;
}

@keyframes pop-out {
    0% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}

.answer-icon {
    width: 40px;
    height: 40px;
}

.answer-icon path {
    fill: currentColor;
}

.check-icon {
    color: forestgreen;
}

.cross-icon {
    color: firebrick;
}

.score {
    position: absolute;
    top: 0;
    right: 0;
    font-size: 24px;
}
